.button {
  width: 80px;
  height: 26px;

  padding: 5px;
  margin-top: 12px;

  font-size: 16px;
  font-weight: bold;
  outline: none;
  border: none;
  border-radius: 6px;
  background-color: #eee;
}